{
  "presets": [
    [
      "@babel/preset-env"
    ]
  ],
  // "plugins": ["transform-runtime","transform-class-properties"]
  "plugins": [
    "transform-class-properties",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-runtime"
  ]
}